.card {
    width: 320px;
    margin: 0 auto;
    padding: 25px;
    background: #222;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
    text-align: center;
}

.card h2 {
    margin-bottom: 20px;
    color: #c5c5c5;
    font-size: 24px;
}

.count {
    font-size: 90px;
    font-weight: bold;
    color: whitesmoke;

}