.container {
    min-height: 100vh;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.h1 {
    margin-bottom: 20px;
    color: #222;
}

.counter {
    font-size: clamp(5rem, 15vw, 7.5rem);
    font-weight: bold;
    /* color: #0d6efd; */
    line-height: 1;
}

.button {
    width: clamp(70px, 12vw, 90px);
    height: clamp(70px, 12vw, 90px);
    font-size: clamp(28px, 5vw, 40px);

    border: none;
    border-radius: 12px;
    cursor: pointer;

    transition: 0.2s;
}

.button:hover {
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.96);
}

.newEventButton {
    width: 170px;
    padding:10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 600;
    color: #222;
    background-color: #e0dada;
    transition: .2s;
}

.eventInput {
    width: 100%;
    max-width: 500px;

    padding: 2px 8px;
    font-size: clamp(16px, 2vw, 20px);

    border: 2px solid #ddd;
    border-radius: 10px;
    outline: none;

    margin-bottom: 10px;

    transition: 0.2s;
}

.eventInput:focus {
    border-color: #0d6efd;
}

.eventTitle {
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 700;
    color: #222;
    word-break: break-word;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15px;
}

.footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;

    width: 100%;
    padding-top: 25px;
}

.branding {
    color: #444;
    font-size: clamp(16px, 2vw, 24px);
    font-weight: 600;
    margin: 0;
}

/* Tablet */

@media (max-width: 768px) {
    .container {
        padding: 16px;
    }

    .buttons {
        gap: 16px;
    }
}

/* Phone */

@media (max-width: 480px) {
    .container {
        padding: 12px;
    }

    .eventInput {
        padding: 12px;
    }

    .buttons {
        gap: 12px;
    }
}

